*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Microsoft Jhenghei;
	text-decoration: none;
	scroll-behavior: smooth;
}
a{
	color: currentColor;
}
a:hover{

}
::-webkit-scrollbar{
	display:none;
}
header{
	width: 100%;
	height: 60px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000038;
	opacity: 1;
}
 header .logoRow {
	position: absolute;
	width: 100%;
	height: 60px;
	box-shadow: 0px 3px 6px #00000038;
	z-index: 3;
	background-color: #fff;
}
header #logo{
	position: absolute;
	left: 10px;
	width: 60px;
	height: auto;
}
header #title{
	position: absolute;
	top: 20px;
	left: 80px;
	width: auto;
	height: 20px;
}
header .menu{
	display: none;
}
header .navbar {
    /*width: 60%;*/
    float: right;
    margin-top: 34px;
}
header .navbar .navs{
	display: inline-block;
	text-align: left;
	font-family: Segoe UI;
	font-size:24px ;
	letter-spacing: 0px;
	color: #707070;
	margin-left: 43px;
}
header .lang{
	display: none;
}
header .lang{

	line-height: 100px;
}
header .toolbox{
	float: right;
	font-size: 20px;
	margin-right: 20px;
	margin-top: 20px;
	z-index: 3;
}
.slide{
	width: 100%;
	/*height: 500px;*/
	overflow: hidden;
}
.slidePic {
  background-color: black;
  font-size: 0;
}
.slidePic img{
	width: 100%;
	height: auto;
}
.info, .news, .coffee{
	margin-top: 100px;
}
.title{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.title h2{
	display: block;
	text-align: center;
	border-left: 5px solid #F37423F2;
	padding-left: 10px;
	letter-spacing: 7px;
}
.info2{
	width: 100%;
	font-size: 0;
}
.info2 .infoBlock{
	border: 1px #fff solid;
	text-align: center;
	margin-top: 40px;
}
.info2 .infoBlock .infoTitle{
	position: absolute;
	height: 200px;
	width: 100%;
	display: flex;
}
.info2 .infoBlock h3{
	color: #FFFFFF;
	margin: auto;
	z-index: 1;
	letter-spacing: 5px;
	font-size: 20px;
}
.info2 .infoBlock .filter{
	position: absolute;
	width: 100%;
	height: 200px;
	background-color: #000000A3;
	/*opacity: 0.6;*/
}

.info2 .infoBlock .infoBg{
	width: 100%;
	height: 200px;
	background-color: black;

	background-position:center center ;
	background-repeat: no-repeat ;
	background-size: cover;
}
.bg1{
	background-image: url(img/new1.jpg);
}
.bg2{
	background-image: url(img/new2.jpg);
}
.bg3{
	background-image: url(img/new3.jpg);
}
.bg4{
	background-image: url(img/new4.jpg);
}
.bg5{
	background-image: url(img/new5.png);
}
.bg6{
	background-image: url(img/new6.jpg);
}

/********************************************/

.news{
	width: 100%;
	height: 400px;
}
.news .news1{
	
}
.news .news1 .news2, .coffee2{
	margin-top: 40px;
}
.news .news1 .news2 .newsBorder{
	border-top: 7px solid #423E3BF2;
	border-bottom: 7px solid #423E3BF2;
	padding-top: 30px;
	padding-bottom: 30px;
	height: 300px;
}
.newsContent {

}
.newsContent li{
    line-height: 40px;
    height: 40px;
    /*border-top: 1px solid #CCCCCC66;*/
    border-bottom: 1px solid #CCCCCC66;
    box-shadow: 0px 1px 2px #00000033;
    display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.newsContent li:nth-of-type(1){
	border-top: 1px solid #CCCCCC66;
	box-shadow: 0px 1px 2px #00000033,0px 1px 2px #00000033 inset;
}
.newsContent li img {
    width: 12px;
	height: 15px;
}
.newsContent li p {
    font-size: 14px;
    width: 70%;
    text-overflow: ellipsis;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
}
.newsContent li p span{
	width: 90px;
	display: inline-block;
	color: #6F6F6F;
	font-size: 12px;
}
li .fa.fa-arrow-right {
    font-size: 15px;
    color: #6c5d57;
}
.newsBorder .newsMore{
	float: right;
	margin: 20px 15px 20px auto ;
	font-weight: 700;
	font-style: italic;
	color: #ce6523;
}
/*********************************************/
.coffee1{
	width: 100%;
}
.coffee2 {
    height: 900px;
    background-color: #39342F;
    padding-top: 30px;
}
.category{
	height: 400px;
	margin-top: 30px;
}
.category h3{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 0.314em;
}
.category .scroll{
	white-space: nowrap;
	overflow: scroll;
}
.category .boxes{
	width: 1000px;
	padding-left: 5%;
}
.category .boxes .box{
	display: inline-block;
	width: 250px;
	height: 300px;
	background: #fff;
	overflow: hidden;
	margin: auto 15px;
	border-radius: 3px;
	box-shadow: 0px 0px 12px #000000e6;
}
.category .boxes .box img{
	width: 100%;

}
.category .boxes .box .content{
	height: 100px;
	padding: 15px 15px;
	position: relative;
}
.category .boxes .box .content h4 {
    display: block;
	width: 195px;
	word-wrap: break-word;
	white-space: normal;
	margin: auto;
	line-height: 1.6;
}
.category .boxes .box .content hr{
	margin: 15px auto;
}
.category .boxes .box .content .day{
	position: absolute;
	right: 10px;
	color: #6F6F6F;
	line-height: 0.9;
	font-size: 14px;
}
/**********************************************************/
.goTop{
	margin: 150px auto 30px auto;
}
.goTop p {
    display: block;
    width: 100px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    background-color: #f37423d9;
    color: #fff;
    line-height: 25px;
    box-shadow: 1px 1px 2px #4e4e4e;
}
/**********************************************************/
footer{
	background: #292929;
	color: #FFFFFFCF;
	padding: 20px auto; 
	overflow: hidden;
}
footer .map{
	display: none;
}
footer .log{
	
}
footer .log div {
    display: block;
    width: 130px;
    margin: 0px auto 50px auto;
    height: 35px;
    padding-top: 30px;
}
footer .log .fb{
	width: 35px;
	display: inline-block;
}
footer .log .logIn{
	display: inline-block;
	line-height: 35px;
	position: absolute;
	margin-left: 50px;
}
footer .log > p {
    text-align: center;
    font-size: 14px;
}
footer .footerLogoBox {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
	margin: 20px auto 0px auto;
}
footer .footerLogo{
	width: 100px;
	margin: auto;
}
footer .copyright{
	text-align: center;
	color: #BFBFBFCF;
	font-size: 12px;
	line-height: 45px;
}
/******************************menu click*********************************/
header .menu {
	/*! display: none; */
	width: 100%;
	height:100vh;
	background: #eaeaea;
	z-index: 2;
	position: fixed;
	text-align: center;
}
header .navbar {
    float: none; 
    margin-top: 20vh;
}
header .navbar .navs {
	display: block; 
	text-align: center; 
	font-family: Segoe UI;
	font-size:24px ;
	letter-spacing: 0px;
	color: #323232;
	margin-left: unset; 
	margin-top: 30px;
	transition: 0.2s;
}
.navs:hover {
    color: #000 !important;
}

.navbarMenu {
    /*width: 60%;*/
    /*! float: right; */
    margin-top: 34px;
}
.cross {
    font-size: 20px;
    /*left: 85%;*/
    position: absolute;
	right: 10%;
	top: 90px;
}








/** Small devices (landscape phones, 576px and up)**/
@media (min-width: 576px) {
	.newsContent li img {
    	width: 15px;
    	height: 18px;
	}
	.newsContent li p {
	    font-size: 16px;
	}
	.newsContent li p span {
		font-size: 14px;
		width: 100px;
	}





}

/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) {
	.info2 .infoBlock .infoBg {
		height: 250px;
	}
	.info2 .infoBlock .filter {
		height: 250px;
	}
	.info2 .infoBlock .infoTitle {
		height: 250px;
	}
	.info2 .infoBlock h3 {
		font-size: 25px;
	}
	.newsContent li p {
		width: 70%;
		letter-spacing: 2px;
	}
	.newsContent li p span {
		margin-right: 10%;
		letter-spacing: normal;
	}


}

/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) {
	header {
    	height: 70px;
	}
	header .logoRow{
		height: 70px;
	}
	header #logo {
	    height: 70px;
	    width: 70px;
	    top: 0px;
	    left: 15px;
	}
	header #title {
	    height: 30px;
	    width: auto;
	    top: 20px;
	    left: 90px;
	}
	header .navbar {
    	display: block;
    	margin-top: 16%;
	}
	header .navbar .navs {
		font-size:22px;
		margin-left: 25px;
		margin-top: 56px;
	}
	header .toolbox {
		font-size: 25px;
		margin-right: 25px;
		margin-top: 22.5px;
	}
	.cross {
		top: 100px;
	}
	.menu {
	display: block;
	}
	

	.slidePic img{
		/*width: 100%;*/
		height: calc(100vh - 70px);
		object-fit: cover;
	}
	.info2 {
	    width: 85%;
	    margin: auto;
	}
	.info2 .infoBlock{
		width: calc(100% / 6);
		display: inline-block;
		position: relative;
		transition: 0.6s linear;
		transition-delay: 0.3s;
	}
	


	.info2 .infoBlock .infoBg {
	    height: 500px;
	}
	.info2 .infoBlock .infoTitle{
		height: 500px;
	}
	.info2 .infoBlock .infoTitle h3{
		width: 60px;
	}

	.info2 .infoBlock .filter{
		height: 500px;
	}

	.category .boxes {
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		padding: 0 10%;
	}
	



}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	header{
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100px;
		background: #FFFFFF 0% 0% no-repeat padding-box;
		box-shadow: 0px 3px 6px #00000038;
		opacity: 1;
		display: block;
	}
	header .logoRow {
	    height: 100px;
	}
	header #logo{
		position: absolute;
		top: 10px;
		left: 55px;
		width: 81px;
		height: 81px;
	}
	header #title{
		position: absolute;
		top: 32px;
		left: 155px;
		width: 330px;
		height: 36px;
	}
	header .navbar {
	    /*width: 60%;*/
	    float: right;
	    margin-top: 0;
	    height: 100%;
		display: flex;
	}
	header .navbar .navs{
		display: inline-block;
		text-align: left;
		font-family: Segoe UI;
		letter-spacing: 0px;
		color: #707070;
		font-size: 20px;
		margin: auto 12px;
	}
	header .lang{
		width: 111px;
		height: 100px;
		box-shadow: -1px 0px 3px #00000029;
		float: right;
			text-align: center;
	}
	header .lang{
		display: block;
		line-height: 100px;
	}
	header .menu{
		display: block;
		height: 100px;
		z-index: 3;
		position: absolute;
		background-color: transparent;
	}
	.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
 content:"\f0c9";
 display: none;
}

	.fa-remove:before,
	.fa-close:before,
	.fa-times:before {
	 content:"\f00d";
	 display: none;
	}
	.newsContent li {
		padding: 0 max(17%,205px);
	}


}